---
import "../styles/global.scss";

type HistoryItem = {
    companyName: string;
    companyUrl: string;
    startDate: string;
    endDate: string;
};

const historyItems: HistoryItem[] = [
    {
        companyName: "articulate",
        companyUrl: "https://www.articulate.com/",
        startDate: "2023",
        endDate: "present",
    },
    {
        companyName: "fresh",
        companyUrl: "https://www.fresh.technology/",
        startDate: "2021",
        endDate: "2023",
    },
    {
        companyName: "grid",
        companyUrl: "https://workwithgrid.com/",
        startDate: "2016",
        endDate: "2021",
    },
];
---

<!-- prettier-ignore -->
<ul>
    {
        historyItems.map((data: HistoryItem) => (
            <li>
                <a
                    rel="noopener noreferrer"
                    target="_blank"
                    title={data.companyName}
                    href={data.companyUrl}
                >{data.companyName}</a>
                <span>
                    ({data.startDate} - {data.endDate})
                </span>
            </li>
        ))
    }
</ul>
